@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-image: url('../images/Background.png');
  height: 100vh;

  background-size: cover;
  background-repeat: repeat-y;
}

@media screen and (min-width: 376px) {
  body {
    height: auto;
  }
}

.content {
  height: 100%;

  .login-wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: revert;

    .login {
      display: flex;
      align-items: center;
      flex-direction: column;
      background-color: #f5f5f5;
      height: 100%;

      .logo {
        border-bottom: 4px solid #ea731f;
        display: flex;
        justify-content: center;
        width: 100%;
        img {
          padding: 10px;
        }
      }

      h2 {
        color: #333333;

        font-size: 20.8px;
        font-weight: bold;
        line-height: 32.5px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        margin: 35px 0;
      }

      @media screen and (min-width: 376px) {
        h2 {
          margin: 20px 0;
        }
      }

      @media screen and (min-width: 1920px) {
        h2 {
          font-size: 24px;
          line-height: 37px;
        }
      }

      input[type='password'],
      input[type='text'] {
        // height: 54px;
        width: 100%;
        gap: 10px;
        border-radius: 2px 0px 0px 0px;

        border: 1px solid #cccccc;
        opacity: 0px;
        outline: none;
        font-size: 16px;
        padding: 10px 10px;
      }

      input[type='password'] {
        padding-right: 30px;
      }
      @media screen and (min-width: 1920px) {
        input[type='password'],
        input[type='text'] {
          font-size: 24px;
          padding: 20px 10px;
        }
      }

      @media screen and (min-width: 1920px) {
        input[type='password'] {
          padding-right: 35px;
        }
      }

      @media screen and (min-width: 1920px) {
        .checkbox {
          padding-left: 30px;
          font-size: 20px;
          line-height: 20px;
        }
      }

      .checkbox {
        display: flex;
        position: relative;
        padding-left: 23px;
        align-items: end;
        height: 24px;
        cursor: pointer;

        input {
          opacity: 0;
          width: 0;
          height: 0;
        }

        .checkmark {
          position: absolute;
          top: 0;
          left: 0;
          height: 24px;
          aspect-ratio: 1;
          background-color: transparent;
          border: 1px solid #cccccc;
          border-radius: 4px;
        }

        @media screen and (min-width: 1920px) {
          .checkmark {
            height: 30px;
          }
        }

        .checkmark:after {
          content: '';
          position: absolute;
          display: none;
        }

        input:checked ~ .checkmark:after {
          display: block;
          left: 7px;
          top: 3px;
          width: 5px;
          height: 10px;
          border: solid #b87b45;
          border-width: 0 3px 3px 0;
          transform: rotate(45deg);
        }

        @media screen and (min-width: 1920px) {
          input:checked ~ .checkmark:after {
            width: 8px;
            height: 15px;
          }
        }
      }

      a {
        font-size: 18.2px;
        font-weight: 450;
        line-height: 20.82px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #486082;
        text-decoration: none;
      }

      @media screen and (min-width: 1920px) {
        a {
          font-size: 21px;
          line-height: 24px;
        }
      }

      button {
        padding: 10px 41px;
        border: none;
        color: white;
        font-weight: bold;
        font-size: 18px;
        background-color: #ce7838;
        border-radius: 3px;
      }

      @media screen and (min-width: 1920px) {
        button {
          font-size: 24px;
          padding: 18px 54px;
        }
      }
      .row-wrap {
        margin-top: 15px;
        width: 100%;
        position: relative;
        padding: 0 20px;

        .icon-eye {
          cursor: pointer;
          position: absolute;
          top: 20px;
          right: 26px;
        }

        @media screen and (min-width: 1920px) {
          .icon-eye {
            width: 36px;
            aspect-ratio: 1;
          }
        }
      }

      .spacer {
        flex: 1;
      }

      .footer {
        width: 100%;
        text-align: center;

        span {
          display: block;
          color: white;
          background: #5e6b75;
          width: 100%;
          border-radius: 0 0px 4px 4px;
          padding: 13px 0;
          font-size: 18px;
          margin-top: 28px;

          &::before {
            content: '';
            display: inline-block;
            width: 17px;
            height: 14px;
            background-image: url(../images/lock.png);
            background-size: contain;
            background-repeat: no-repeat;
          }
        }

        @media screen and (min-width: 1920px) {
          span {
            font-size: 20px;
          }
        }
      }
    }

    @media screen and (min-width: 376px) {
      .login {
        width: 300px;
        height: 494px;
        border-radius: 4px;
      }
    }

    @media screen and (min-width: 1280px) {
      .login {
        width: 350px;
        height: 520px;
      }
    }

    @media screen and (min-width: 1920px) {
      .login {
        width: 480px;
        height: 720px;
      }
    }
  }

  @media screen and (min-width: 376px) {
    .login-wrap {
      margin-left: 68px;

      justify-content: center;
    }
  }

  @media screen and (min-width: 1920px) {
    .login-wrap {
      margin-left: 100px;
    }
  }

  @media screen and (min-width: 376px) {
    .banner-text {
      display: block !important;
    }
  }

  .banner-text {
    display: none;

    color: white;

    h1 {
      font-size: 32x;
      line-height: 40px;
    }

    @media screen and (min-width: 1440px) {
      h1 {
        font-size: 40px;
      }
    }

    @media screen and (min-width: 1920px) {
      h1 {
        font-size: 50px;
        line-height: 55px;
      }
    }

    p {
      font-size: 13px;
      text-align: left;
      line-height: 20px;
    }

    @media screen and (min-width: 1440px) {
      p {
        font-size: 15px;
      }
    }
    @media screen and (min-width: 1920px) {
      p {
        font-size: 20px;
        line-height: 25px;
      }
    }
  }

  .mobile-desktop-img {
    display: flex;
    flex-direction: column;
    transform: translateY(-10px);

    img {
      display: none;
    }

    @media screen and (min-width: 1920px) {
      #circle1920 {
        margin-left: 4em;
        display: block;
      }
      #screens1920 {
        display: block;
      }
    }

    @media screen and (min-width: 1440px) and (max-width: 1919px) {
      #circle1440 {
        margin-left: 2em;
        display: block;
      }
      #screens1440 {
        display: block;
      }
    }

    @media screen and (min-width: 768px) and (max-width: 1439px) {
      #circle1280 {
        margin-left: 2em;
        display: block;
      }
      #screens1280 {
        display: block;
      }
    }

    .mobile-img {
      transform: translateY(-60px);
    }
  }
}

@media screen and (min-width: 376px) {
  .content {
    display: flex;
    align-items: center;
    gap: 60px;
  }
}

.app-footer {
  display: none;
}

@media screen and (min-width: 376px) {
  .app-footer {
    display: BLOCK;
    text-align: right;
    margin-right: 30px;
  }
}
